body {
  margin: 0;
  background-color: #1d1716;
  overflow-x: hidden;
}
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  height: 64px;
  background-color: #a23337;
  border-top: 6px solid #d6a26f;
  border-bottom: 6px solid #d6a26f;
  /* box-shadow: 0 0 24px rgba(0, 0, 0, 0.75); */
}

.left {
  visibility: hidden;
  flex-grow: 1;
}

.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
}

.right {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.MainLogo {
  transform: translateY(2px);
  width: 196px;
  height: auto;
}

.TabButton {
  padding: 0px 16px;
  height: 24px;
  width: auto;
}

.ShopButton {
  height: 48px;
  width: auto;
  animation: hover 3s infinite;
  animation-direction: normal;
}

@keyframes hover {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-0px);
  }
  100% {
    transform: translateY(4px);
  }
}
