.Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
}

.ProductGrid {
  display: flex;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  border-top: 6px solid #d6a26f;
  border-bottom: 6px solid #d6a26f;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.75);
  background-color: #1d1716;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 32px;
}

.product_image {
  width: 384px;
  height: 384px;
  object-fit: cover;
}

.name {
  width: fit-content;
}

.price {
  background-color: #a23337;
  padding: 8px 14px 6px 14px;
  border-radius: 2px;
}

.pageTitle {
  margin: 16px 32px 16px 32px;
  font-size: 48px;
  align-self: baseline;
  font-family: "Josefin Sans", sans-serif;
  color: #d6a26f;
}
